@model BlogPostModel

<style>
  input {    
    display: block;
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    color: gray;
    border: 1px solid lightgray;
  }

  textarea {
    display: block;
    margin-top: 10px;
    width: 30%;
    height: 150px;
    padding: 10px;
    color: gray;
    border: 1px solid lightgray;
  }

  button {
    display: block;
    margin-top: 10px;
  }

</style>

@using (Html.BeginForm(FormMethod.Post)) {
    <input asp-for="@Model.Title" />
    <input type="date" asp-for="@Model.Post_date" />
    <textarea asp-for="@Model.Content"></textarea>
    <button asp-controller="blog" asp-action="create" type="submit" class="btn btn-success" value="Save">Publish post</button>
}